<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" data-framework="intercoolerjs" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Basic TODO list</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <section id="todoapp" ic-target="this" th:include="todoList">

    </section>
        <div id="info">
            <p>Double-click to edit a todo</p>
        </div>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/intercooler-0.9.6.min.js"></script>
    <script src="/js/app.js"></script>
    </body>
</html>
